/* body{
    font-family: 'Montserrat Alternates', sans-serif;
} */
.Home{
    background-color: #ffff;
}


/* Styele fofr navbar component */
.Nav-bar{
    margin-bottom: 1px;
    background-color: #82A6B1;
}

/* styleing for the frame and image */

.Img-store{
    /* transform: scale(1, 1); */
    width: 100%;
    height: 500px;
    background-blend-mode: normal;
   
}

.Intro{
    position: absolute;
    left: 50px;
    top: 200px;
    color: #000; /* Fallback for older browsers */
   
}

.Frame{
height: auto;
margin-bottom: 60px;
}

/* Style for the grid and its columns */

.Grid-Container{
    margin-bottom: 180px;
    margin-top: 90px;
}


.Rows-1{
    height: 200px;
    width: 89%;
    display: flex;
    justify-content: space-between;
}

.Grid-Container{
    width: 100%;
    display: flex;
    justify-content: center;

}

.Card-landing{
    box-shadow: 5px 10px #888888;
    border-radius: 50px;
    padding: 10px;
}

